* {
  font-family: "Inter", sans-serif;
}
.NTR {
  font-family: "NTR", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: #f6f6f8;
}
/* #f77769  #0d0e12 #f6f6f8 #96f8f8  #13141b*/
